@media (max-width: 821px){
    html {font-size: 90%;}
}
@media (max-width: 680px){
    html {font-size: 80%;}
}
@media (max-width: 560px){
    .promo__container,.privilege__container {
        flex-wrap: wrap;
    }
    .privilege__card {
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
    }
}

