@media (max-width: 821px){
    html {font-size: 90%;}
    .button-trailer img{
        max-width: 10%;
    }
    .more_skills__list li {
        max-width: 30%;
    }
}
@media (max-width: 762px){
    .learn__container,.skills__container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .learn__text-content,.skills__text-content{
        max-width: 100%;
    }
}
@media (max-width: 680px){
    html {font-size: 80%;}
    .more_skills__list {
        justify-content: center;
    li {
        text-align: center;
        max-width: 50%;
    }
}
}
@media (max-width: 560px){
    .promo__container,.privilege__container {
        flex-wrap: wrap;
        position: relative;
    }
    .privilege__card {
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
    }
    .promo__text-content{
        margin-top: 100%;
    }
    .promo__image {
        position: absolute;
        top: 0;
        left: 0;
    }
    .included__list {
        flex-wrap: wrap;
        li {
            flex: 1 1 45%;
        }
    }
}
@media (max-width: 379px){
    .included__list {
        li {
            flex: 1 1 100%;
        }
    }
    .header__container p {
        display: none;
    }
}

