@import "_base";
@import "_header";

.button {
    align-self: center;
    text-align: center;
    background-color: #E48D8B;
    color: #fff;
    font-weight: 700;
}

.promo__container  {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.promo__text-content {
    flex: 1 0 42%;
    p:last-of-type{
        font-weight: 700;
        font-size: 31px;
    }
    span {
        padding-left: 8px;
        font-weight: 400;
        font-size: 20px;
        color: #757575;
        text-decoration: line-through;
    }
}

.promo__bttns {
    display: flex;
}
.promo__button {
    font-weight: 700;
    padding: 9px 28px;
    font-size: 0.87rem;
}

.button-trailer {
    display: inline-flex;
    font-size: 0.9rem;
    margin-left: 12px;
    align-items: center;
    color: #757575;
    background-color: #EDEDED;
    img {
        padding-right: 5px;
    }
}

.promo__image {
    img {
        max-width: 100%;
        object-fit: cover;
    }
    align-self: center;
}

.privilege__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.privilege__card {
    max-width:30%;
}

.skills__container,.learn__container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:10px;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}
.skills__text-content,.learn__text-content{
    max-width: 44%;
}

.included {
    background-color: #017CFF;
    padding: 95px 0;
}
.included__container,.included__container h2 {
    text-align: center;
    color: #fff;
}
.included__list {
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-top: 47px;
}
.included__item {
    p {
        margin: 0;
        padding: 0;
    }
    p:first-of-type{
        font-weight: 700;
        font-size: 4.44rem;
        padding-bottom: 28px;
    }
}

.ideas__container {
    text-align: center;
}

.ideas__list {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    ul {
        width: 33rem;
    }
    li {
        flex: 1 1 100%;
        margin-top: 12px;
        padding: 0 24px;
        gap: 10px;
        background-color: #EDEDED;
        display: flex;
        justify-content: space-between;
    }
}

.more-skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    li {
        max-width: 22.5%;
        padding-top: 48px;
        p {
            padding-top: 10px;
            margin: 0;
            font-size: 16px;
        }
    }
}
.quoteblock {
    background-color: #194677;
}
.quoteblock__container {
    text-align: center;
    color: #fff;
    figure {
        padding: 95px 0;
    }
    blockquote {
        font-size: 1.38rem;
        font-style: italic;
        max-width: 30rem;
        margin: 0 auto;
        padding: 25px 0;
    }
    span {
        color: #E48D8B;
    }
    p {
        font-size: 0.9rem;
    }
}

.podcast {
    background-color: #E48D8B;
}
.podcast__container {
    h2 {
        text-align: center;
        color: #fff;
        font-weight: 400;
        font-size: 2.1rem;
        padding-bottom: 60px;
    }
    p:first-of-type {
        font-size: 31px;
        color: #017CFF;
    }
    h3 {
        font-weight: 400;
        color: #464646;
    }
    padding: 6.7rem 0;
}

.podcast__cards {
    color: #464646;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.podcast__card {
    background-color: #fff;
    max-width: 20.8rem;
}
.card__text-content {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    padding-top: 2.6rem;
}
.card__span {
    font-size: 0.9rem;
    color: #757575;
}
.card__button {
    font-size: 0.9rem;
    background-color: #017CFF;
    color: #fff;
    padding: 8px 32px;
}
.card__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3.1rem 28px;
}

.questions__container {
    text-align: center;
    h2 {
        font-weight: 400;
    }
}
.questions__list {
    padding-top: 2.2rem;
    margin: 0 auto;
    li {
        font-size: 1.22rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DBDBDB;
        padding: 33px 0;
    }
}

.praise__container {
    h2 {
        text-align: center;
    }
}
.praise__block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.6rem;
    gap: 32px;
}
.block__quote {
    display: inline-flex;
    flex: 1 1 20%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #EDEDED;
    padding: 32px;
    figure {
        padding: 0;
        margin: 0;
    }
    blockquote,p {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    blockquote {
        padding: 24px 0 16px 0;
    }
    figcaption {
        display: flex;
        align-items: center;
        p {
            padding-left: 10px;
        }
    }
}
footer {
    background-color: #FBFBFB;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}
.footer__text-content {
    max-width: 35%;
}
.span--little {
    font-size: 14px;
}
.footer__lists {
    display: flex;
    gap: 80px;
}
.footer__list {
    h3 {
        font-size: 14px;
        color: #B1B1B1;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    font-size: 14px;
    li {
        padding-top: 7px;
    }
}
.footer__link {
}
@import "_media";
